@use "../../foundation/" as f;

.c-btn {
    font-family: "Noto Sans JP";
    font-size: 18px;
    color: f.$baseWhiteColor;
    background-color: f.$mainColor;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px gray;

    padding: 20px 24px;
}
