/****************************************:

btn

*****************************************:*/
@use "../../foundation/" as f;

.c-btn {
    font-family: "Noto Sans JP";
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px gray;

    // デザイン変更用メモ
    // font-weight: bold;
    // color: f.$mainColor;
    // border: 2px solid f.$mainColor;
}
