/****************************************:

form要素

*****************************************:*/
@use "../../foundation/" as f;

.c-form-label {
    font-size: 14px;
}
.c-form-input {
    border: none;
}
.c-form-btn {
    font-family: "Noto Sans JP";
    color: f.$baseWhiteColor;
    background-color: f.$accentColor;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px gray;

    padding: 8px 24px;

    &:hover {
        color: f.$baseWhiteColor;
        background-color: f.$accentColor;
    }
}

.c-login-message {
    font-size: 14px;
}

.c-login-message__link {
    font-weight: bold;
    color: f.$accentColor;
    border-bottom: 1px solid f.$accentColor;

    padding-bottom: 2px;

    &:hover {
        color: f.$accentColor;
    }
}
