@use "../../foundation/" as f;

tr {
    border-bottom: 1px solid f.$baseBlackColor;
}

th,
td {
    padding: 16px !important;
}
.l-topic-title {
    font-size: 40px;
}
.l-topic-header {
    color: f.$baseWhiteColor;
    background-color: f.$mainColor;
}

.l-topic-btn {
    font-family: "Noto Sans JP";
    color: f.$baseWhiteColor;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px gray;

    padding: 8px 24px;

    // 登録
    &--register {
        background-color: f.$accentColor;
    }
    // 編集
    &--edit {
        background-color: f.$mainColor;
    }
    // 削除
    &--delete {
        background-color: f.$accentColor;
    }
}

.l-topic-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
